@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}
li {
    list-style-type: none;
}
.outer-content,element-list,help-message success-message,button-style,clickable button-style{
    font-size: 30px;
    line-height: 30px;
    color: #000;
}
a {
    text-decoration: none;
    color: #1f1f1f;
}
body {
    background: whitesmoke;
    padding: 0;
    margin: 0;
}
main {
    padding: 60px 40px;
    min-height: calc(100vh - 180px);
}

a:hover {
    transition: .3s;
    color: #7db5e3;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #667761;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header div {
    display: flex;
    gap: 20px;
}

header a {
    color: white;
}

footer {
    padding: 20px 40px;
    background-color: #545E56;
}
footer a {
    color: white;
}

.authors-box {
    padding: 6px 10px;
}

#searchForm {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
.button-style {
    padding: 8px 12px;
    font-size: 18px;
}

.book {
    padding: 0 15px;
}

.element-list{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 24px;
}

/*Search*/

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.icon {
    margin-left: 2px;
    margin-right: -8px;
    height: 1.1em;
}

.icon-big {
    display: block;
    margin: auto;
    max-width: 200px;
}



